<% provide(:title, "Technology") %>

<h1>Technology</h1>

<!-- Trackman -->
<hr/>
<h2>Trackman Pro</h2>
<div class="row-fluid">
  <div class="span4 offset2">
    <section>
      <p>
        TrackMan Pro is the choice of the PGA Tour and R&A 
        for swing and ball flight analysis. A staple on professional 
        tours, with leading educators, club fitters, manufacturers 
        and players, TrackMan Pro is the industry standard for 
        accuracy, reliability and ease of use.
      </p>  
    </section>
  </div>  
  <div class="span4">
    <%= image_tag("TM-Shortgame.jpg", alt: "Trackman Golf", class: "img-rounded") %>    
  </div>  
</div>
<div class="row-fluid">
  <div class="span4 offset2">
    <section>
      <p>
        TrackMan Pro measures and displays the full trajectory of any shot, from 6-foot pitches to 400-yard drives, 
        pinpointing the landing position with an accuracy of 1 
        foot at 100 yards. Delivering state-of-the-art data without 
        using any modeling, TrackMan Pro displays the shot's 
        actual 3D trajectory in real time together with all impact 
        and ball flight information.
      <p>
    </section>
  </div>
  <div class="span4">
    <%= image_tag("Live-JustinRose.jpg", alt: "Justin Rose Live", class: "img-rounded") %>
  </div>
</div>
<div class="row-fluid">
  <div class="span8 offset2">
    <div>
      <%= video_tag("TrackMan-Branding-video.mp4", alt: "TrackMan Branding Video", controls: true, class:"video") %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span4 offset4">
    <div class="center foreign-link">
      <%= link_to raw("Go to Trackman's website &raquo;"), "http://trackman.dk/Products/TrackMan-Pro.aspx", target: "_blank", class:"btn btn-large btn-success" %>
    </div>
  </div>
</div>

<!-- Zenio -->
<hr/>
<h2>Zenio Putting System</h2>
<div class="row-fluid">
  <div class="span4 offset2">
    <p>
      ZENIO is a revolutionary new training and fitting system that gives golfers immediate and accurate data on their putting in real time and in real outdoor conditions. Measuring the size of a matchbox and weighing just 29 grams, the ZENIO attaches to any putter in just 15 seconds. It uses the latest sensor technology to measure the key parameters of the putting stroke - impact, rhythm and face angle - and then immediately transmits the information to a Smartphone of PDA via Bluetooth, where it is displayed in an easy-to-understand graphical format.
    </p>
  </div>
  <div class="span4">
    <%= image_tag("Face_sensor3.jpg", alt: "Face sensor", class: "img-rounded") %>    
  </div>
</div>
<div class="row-fluid">
  <div class="span4 offset2">
    <p>
      With data from each session being recorded, users can chart their progress over time on all manner of putts (straight, breaking, uphill, downhill) from a variety of different distances, helping to build up a clear picture of putting strengths and weaknesses and how to improve your putting consistency . ZENIO's innovative software uses the player's "Best" performance as a benchmark for future sessions and also includes a Tour player consistency benchmark for comparison. Golfers can also use the ZENIO to find their optimum stance, grip and posture, and by using the fitting option can even reveal which putter type suits their stroke best.
    </p>
  </div>
  <div class="span4">
    <%= image_tag("training-compare-sess2.jpg", alt: "Training sessions results", class: "img-rounded") %>
  </div>
</div>
<div class="row-fluid">
  <div class="span4 offset4">
    <div class="center foreign-link">
      <%= link_to raw("Go to Zenio's website &raquo;"), "http://www.zeniogolf.com/", target: "_blank", class: "btn btn-large btn-success"%>
    </div>
  </div>
</div>