<% provide(:title, @user.name) %>
<div class="row-fluid">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
  <div class="span8">
    <% if @user.lessons.any? %>
      <h3>Lessons (<%= @user.lessons.count %>)</h3>
      <ol class="lessons">
        <%= render @lessons %>
      </ol>
      <%= will_paginate @lessons %>
    <% end %>
  </div>
</div>
