<li id="<%= lesson.id %>">
  <span class="datetime">
    <%= time_tag(lesson.date_time, lesson.formatted_date_time) %>
  </span>
  <span class="timestamp">
    <% if not lesson.date_time.past? %>
      <i class="icon-star"></i>
      <span class="text-warning">
        <%= time_ago_in_words(lesson) %>
      </span>
    <% else %>
      <%= time_ago_in_words(lesson) %>
    <% end %>
  </span>
  <% if current_user?(lesson.user) %>
    <%= link_to "cancel", lesson, method: :delete,
      data: { confirm: "Are you sure?" },
      title: "Cancel lesson" %>
  <% end %>
</li>
