<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "G. F. Johnson Golf", root_path, id: "logo", class: "brand" %>
			<nav class="nav-collapse collapse pull-right">
				<ul class="nav">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Products & Services", products_and_services_path %></li>
					<li><%= link_to "Technology", technology_path %></li>
					<li><%= link_to "Sign in", "#" %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>